@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers!DOCTYPE html>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{ 
    if (Startup.IsSessionAvailable) {
        if (HttpContextAccessor.HttpContext.Session.GetString("Role").ToString() == "Customer"
            && HttpContextAccessor.HttpContext.Session.GetString("Role").ToString() == ""  )
        {
            Context.Response.Redirect("/Home/Index");
        }
    }else
    {
         Context.Response.Redirect("/Home/Index");
    }

}

<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Active Finance</title>

  <!-- Bootstrap core CSS -->
 
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
  <!-- Custom styles for this template -->
  <link href="~/css/style5.css" rel="stylesheet">
    <link href="~/css/all.css" rel="stylesheet" />
    <link href="~/css/fontawesome.min.css" rel="stylesheet" />
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">ActiveFinance - Admin</div>
            <div class="list-group list-group-flush">


                <a asp-area="" asp-controller="Staff" asp-action="AdminDashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a asp-area="" asp-controller="Account" asp-action="ListOfUsers" class="list-group-item list-group-item-action bg-light">Accounts</a>
                <a asp-area="" asp-controller="Loan" asp-action="ListOfLoans" class="list-group-item list-group-item-action bg-light">Loans</a>
                <a asp-area="" asp-controller="Loan" asp-action="ListOfTypeOfLoans" class="list-group-item list-group-item-action bg-light">Type of Loans</a>
                <a asp-area="" asp-controller="Branch" asp-action="ListOfBranch" class="list-group-item list-group-item-action bg-light">Add Branch</a>
                <a asp-area="" asp-controller="Loan" asp-action="LoanApprovalTable" class="list-group-item list-group-item-action bg-light">Loan Request</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle"><span class="fa fa-bars"></span></button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-user-circle"></span> @HttpContextAccessor.HttpContext.Session.GetString("AccountId")
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Edit Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-area="">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <div class="container-fluid">
                <br />
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->

    <environment include="Development">

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    <script src="~/js/all.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/fontawesome.min.js"></script>
    @RenderSection("Scripts", required: false)
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {

            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>
