@using ActiveFinance1.Data.Model
@model AccountUserPowerViewModel


@{
    Layout = "_Staff";
}        


    <div class="container">
        <input asp-for="UserAccountDetail.Message" style="width:100%;font-size:11px" disabled class="alert alert-danger message" />
        <div class="alert alert-danger validation" asp-validation-summary="All"></div>
        <form asp-action="Create" asp-controller="Account" method="post" role="form">

            <div class="row">
                <div class="col-md-4">
                    <label asp-for="UserAccountDetail.AccountId"></label>
                    <input asp-for="UserAccountDetail.AccountId" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label asp-for="UserAccountDetail.Password"></label>
                    <input asp-for="UserAccountDetail.Password" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label asp-for="UserAccountDetail.Email"></label>
                    <input asp-for="UserAccountDetail.Email" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label asp-for="PersonalAccountDetail.FirstName"></label>
                    <input asp-for="PersonalAccountDetail.FirstName" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label asp-for="PersonalAccountDetail.MiddleName"></label>
                    <input asp-for="PersonalAccountDetail.MiddleName" class="form-control" />
                </div>

                <div class="col-md-4">
                    <label asp-for="PersonalAccountDetail.LastName"></label>
                    <input asp-for="PersonalAccountDetail.LastName" class="form-control" />
                </div>

                <div class="col-md-4">
                    <label asp-for="UserAccountDetail.Branch"></label>
                    <select asp-for="UserAccountDetail.Branch" class="form-control">
                        @{ 
                            foreach (var a in ViewBag.List)
                            {
                              <option value="@a.BranchName">@a.BranchName</option>
                            }
                        }
                    </select>
                </div>

                <div class="col-md-8">
                    <label asp-for="UserAccountDetail.Role"></label>
                    <select asp-for="UserAccountDetail.Role" class="form-control">
                        <option value="Sales Associate">Sales Associate</option>
                        <option value="Loan Processor">Loan Processor</option>
                        <option value="Business Development Officer">Business Development Officer</option>
                        <option value="Branch Head">Branch Head</option>
                        <option value="Accounting Officer">Accounting Officer</option>
                    </select>
                </div>
            </div>
            <br><br>
            <h4>User Power</h4>
            <hr>
            <h5>Branch Power</h5>
            <label asp-for="UserPower.CanViewBranch" > </label>
            <input asp-for="UserPower.CanViewBranch" />

             <label asp-for="UserPower.CanDeleteBranch" ></label>
            <input asp-for="UserPower.CanDeleteBranch" />

             <label asp-for="UserPower.CanEditBranch" ></label>
            <input asp-for="UserPower.CanEditBranch" />

             <label asp-for="UserPower.CanAddBranch" ></label>
            <input asp-for="UserPower.CanAddBranch" />

              <h5>Type of Loan Power</h5>
            <label asp-for="UserPower.CanViewTypeOfLoan" ></label>
            <input asp-for="UserPower.CanViewTypeOfLoan" />

             <label asp-for="UserPower.CanDeleteTypeOfLoan" ></label>
            <input asp-for="UserPower.CanDeleteTypeOfLoan" />

             <label asp-for="UserPower.CanEditTypeOfLoan" ></label>
            <input asp-for="UserPower.CanEditTypeOfLoan" />

             <label asp-for="UserPower.CanAddTypeOfLoan" ></label>
            <input asp-for="UserPower.CanAddTypeOfLoan" />

             <h5>Loan Request Power</h5>
            <label asp-for="UserPower.CanViewLoanRequest" ></label>
            <input asp-for="UserPower.CanViewLoanRequest" />

             <label asp-for="UserPower.CanApproveLoanRequest" ></label>
            <input asp-for="UserPower.CanApproveLoanRequest" />

                <label asp-for="UserPower.CanViewLoanApplication" ></label>
            <input asp-for="UserPower.CanViewLoanApplication" />

             <label asp-for="UserPower.CanRejectLoanRequest" ></label>
            <input asp-for="UserPower.CanRejectLoanRequest" />

             <label asp-for="UserPower.CanViewApprovedTable" ></label>
            <input asp-for="UserPower.CanViewApprovedTable" />

             <label asp-for="UserPower.CanViewRejectedLoanTable" ></label>
            <input asp-for="UserPower.CanViewRejectedLoanTable" />

           <h5>Loan Request Power</h2>
            <label asp-for="UserPower.CanAddUser" ></label>
            <input asp-for="UserPower.CanAddUser" />

             <label asp-for="UserPower.CanDeleteUser" ></label>
            <input asp-for="UserPower.CanDeleteUser" />

             <label asp-for="UserPower.CanEditUser" ></label>
            <input asp-for="UserPower.CanEditUser" />

            <label asp-for="UserPower.CanViewUser" ></label>
            <input asp-for="UserPower.CanViewUser" />
        
    <br>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>

    <script>

    if ($('.message').val() == "")
    {
      $('.message').hide();
    }

    if ($('.validation').text().trim() == "")
    {
      $('.validation').hide();
    }


    function Forgot() {
        $('.Forgot').css('display', 'block');
    }

    </script>