@using ActiveFinance1.Data.Model
@model UserAccountDetail
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    if (HttpContextAccessor.HttpContext.Session.GetString("SecurityCode") != null && HttpContextAccessor.HttpContext.Session.GetString("SecurityCode").ToString() != "")
    {
        if(HttpContextAccessor.HttpContext.Session.GetString("SecurityCode").ToString() == Context.Request.Query["id"])
        {
         
        }else
        {
            Context.Response.Redirect("/Home/Index");
        }
    }else
    {
         Context.Response.Redirect("/Home/Index");
    }
}
@{
    Layout = "_Layout";
}

<div style="width:60%; text-align:center;">
    <input asp-for="Message" style="width:100%;font-size:11px" disabled class="alert alert-danger message" />

    <div class="alert alert-danger validation" asp-validation-summary="All"></div>
    <form asp-controller="Account" asp-action="Recover" method="post" class="form-horizontal" role="form">

        <div class="row">
            <div style="display:block!important" class="input-group mb-2 mr-sm-2">
                <div class="input-group-append">
                    <div class="input-group-text"><span class="fa fa-user"></span></div>
                    <input placeholder="Account Id" asp-for="AccountId" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div style="display:block!important" class="input-group mb-2 mr-sm-2">
                <div class="input-group-append">
                    <div class="input-group-text"><span class="fa fa-lock"></span></div>
                    <input placeholder="Password" type="password" asp-for="Password" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div style="display:block!important" class="input-group mb-2 mr-sm-2">
                <div class="input-group-append">
                    <div class="input-group-text"><span class="fa fa-lock"></span></div>
                    <input placeholder="Re Type Password" type="password" asp-for="ConfirmPassword" class="form-control" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <input type="submit" class="btn btn-primary form-control" />
        </div>
    </form>
</div>

<script>

    if ($('.message').val() == "") {
        $('.message').hide();
    }

    if ($('.validation').text().trim() == "") {
        $('.validation').hide();
    }
</script>