
@{
    ViewData["Title"] = "Home Page";
       Layout = "_Layout";
}

@await Html.PartialAsync("Carousel")

<div class="text-center">
    <h1 class="display-4">Services</h1>
            <p><a href="https://docs.microsoft.com/aspnet/core"> </a></p>
             @await Component.InvokeAsync("LoanCalculator")
        </div>


        <hr />

        <div class="row">

        @await Component.InvokeAsync("AvailableLoans")

        </div>

